@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<feature name="FeatureA">
    <p>This is feature A</p>
</feature>
<feature name="FeatureB">
    <p>This is feature B</p>
</feature>
<feature name="FeatureC">
    <p>This is feature C</p>
</feature>